@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; background:#fff;}
.page{ margin:0px; padding:0px; background:#aaacb6 url(../img/Loginbg.jpg) no-repeat center top;}

.top {width: 520px; height:100px; position:relative; left:30%; background:url(../img/logo.png) no-repeat left bottom;}
.board {width: 100%; height: 560px; margin:0px auto; padding-top:105px; background:url(../img/loginbox.png) no-repeat center top; text-align:center;}
.logintab {width:550px; margin:0px auto; height:auto; border:none;}
.loginp_user {width:280px; height:50px; padding-left:40px; border:none; background:url(../img/inp_user.png) 0 0 no-repeat; font: normal 20px/46px Arial, Helvetica, sans-serif, "黑体"; color:#565656; margin-bottom: 10px;}
.loginp_pwd {width:280px; height:50px; padding-left:40px; border:none; background:url(../img/inp_pwd.png) 0 0 no-repeat; font: normal 20px/46px Arial, Helvetica, sans-serif, "黑体"; color:#565656; margin-bottom: 10px;}
.logbtn {border:0px; background: url(../img/loginbtn.png) no-repeat; height: 55px; width: 280px; margin-top:15px;}
.cancelbtn {border:0px; background: url(../img/cancelbtn.png) no-repeat;height: 55px; width: 280px; margin-top:20px;}

.Syslog01 {float:left; width:70px; height:90px; border:none; text-align:center; margin-left: 1px; margin-right: 35px;}
.Syslog01 img {width:70px ; height: 70px; border:none; padding: 10px 0px 0px 0px; margin-top:15px;}
.Syslog01 a {font: normal 18px/30px "Microsoft Yahei"; color:#f08c18; text-decoration:none;}

.Syslog02 {float:left; width:70px; height:90px; border:none; text-align:center; margin-right: 35px;}
.Syslog02 img {width:70px ; height: 70px; border:none; padding: 10px 0px 0px 0px; margin-top:15px;}
.Syslog02 a {font: normal 18px/30px "Microsoft Yahei"; color:#30c309; text-decoration:none;}

.Syslog03 {float:left; width:70px; height:90px; border:none; text-align:center;}
.Syslog03 img {width:70px ; height: 70px; border:none; padding: 10px 0px 0px 0px; margin-top:15px;}
.Syslog03 a {font: normal 18px/30px "Microsoft Yahei"; color:#10a3e5; text-decoration:none;}

.footCloudy {margin:0px; padding:0px; width:100%;height:150px; background:url(../img/cloudy.png) 0 0 repeat-x;}